@import '../../../styles/colors';

.left_panel {
    width: 300px;
    transition: width 0.5s ease;
    &.--closed {
        width: 50px;
    }
    &__content {
        min-height: 100%;
        background-color: $LIGHT_BLUE;
        width: 300px; // Исходная ширина
        padding: 10px;
        transition: width 0.5s ease; // Анимация изменения ширины
        z-index: 1;
        position: fixed;

        &.--closed {
            width: 50px; // Суженная ширина при добавлении класса --closed
            padding: 0;
        }

        &__avatar {
            width: 100%;
            transition: width 0.5s ease, height 0.5s ease;

            &.--closed {
                width: 0px;
            }

            img {
                padding: 10px;
                border-radius: 100%;
                width: 100%;
                height: 100%;
            }
        }

        &__name-container {
            padding: 0 0 20px 0;
            width: 100%;
            text-align: center;
            overflow: hidden;
            // Анимация изменения ширины, высоты и размера шрифта
            transition: width 0.5s ease, height 0.3s ease;

            &.--closed {
                width: 0px;
                height: 0px;
            }

            h2 {
                transition: font-size 0.2s ease;
            }

            &.--closed h2 {
                font-size: 0px;
            }
        }

        &.settings {
            transition: flex-direction 0.5s ease, padding 0.5s ease, gap 0.5s, ease; // Анимация изменения направления flex-контейнера
        }
    }
}

.left-panel__collapse {
    position: absolute;
    left: 275px;

    &.--closed {
        left: 20px;
        top: -10px;
        position: relative;
    }
}