// TODO: Pending refactoring
@import '~styles/colors';
@import '~styles/breakpoints.scss';

.wrapper {
  display: flex;
  transition: margin-left 0.5s ease;

  &.panel-closed {
    margin-left: 5rem;

    @media (max-width: $EXTRA_LARGE) {
      margin-left: 50px;
    }
  }
}

.left-panel {
  transition: min-width 0.5s ease, width 0.5s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: end;
  min-width: 33rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  height: 100%;
  direction: rtl;

  &>*{
    direction: ltr;
  }

  @media (max-width: $EXTRA_SMALL) {
    position: fixed;
  }

  &--closed {
    min-width: 7rem;
    
    @media (max-width: $EXTRA_LARGE) {
      min-width: 50px;
    }
  }

  &__download-btn {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem 2rem 0;
    height: 5rem;
    width: 5rem;
    &--closed {
      padding: 0.2rem;
      padding-bottom: 2rem;
      justify-content: center;
    }
  }

  &__content {
    flex: 1;
    background-color: $LIGHT_BLUE;
    width: 30rem;
    padding: 1rem;
    transition: width 0.5s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--closed {
      width: 5rem;
      padding: 0;

      @media (max-width: $EXTRA_LARGE) {
        width: 50px;
      }
    }

    &__avatar {
      width: 100%;
      transition: width 0.5s ease, height 0.5s ease;

      &--closed {
        width: 0;
      }

      img {
        padding: 1rem;
        border-radius: 100%;
        width: 100%;
        height: 100%;
      }
    }

    &__name-container {
      padding: 0 0 2rem 0;
      width: 100%;
      text-align: center;
      overflow: hidden;
      transition: width 0.5s ease, height 0.3s ease;

      &--closed {
        width: 0;
        height: 0;
      }

      h2 {
        transition: font-size 0.2s ease;
      }

      &--closed h2 {
        font-size: 0;
      }
    }

    &__settings {
      transition: flex-direction 0.5s ease, padding 0.5s ease, gap 0.5s ease;
    }
  }

  &__collapse {
    position: relative;
    left: 265px;
    top: 50px;

    @media (max-width: $EXTRA_LARGE) {
      left: 185px;
    }

    @media (max-width: $SMALL) {
      height: 30px;
      width: 30px;
    }

    &--closed {
      left: 2rem!important;
      top: -1rem!important;
      position: relative;
    }
  }

  @media (max-width: $EXTRA_LARGE) {
    width: 225px;

    &--closed {
      min-width: 50px;
      width: 50px;
    }

    &__content {
      width: 200px;

      &--closed {
        width: 5rem;
      }
    }

    &__collapse {
      top: 30px;
      left: 175px;
    }

    .collapse-btn {
      height: 40px;
      width: 40px;
    }
  }
}

.content {
  flex-grow: 1;
  transition: margin-left 0.5s ease;
}
