/* Reset and base styles  */
li {
  text-indent: -3rem; /* Отрицательный отступ для всех строк кроме первой */
  padding-left: 3rem;
}

*:visited {
  color: inherit; /* Это установит цвет текста ссылок таким же, как и у непосещённых ссылок */
  text-decoration: none; /* Убирает подчёркивание текста */
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

/* TODO Убрать чудо ниже */
h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit; 
}

h1 {
  font-weight: bold;
}

ul, ol {
  list-style-position: inside;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

html {
  min-height: 100%;
  height: 1px;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-repeat: repeat;
  background-color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
  box-sizing: inherit;
}
