@import '~styles/breakpoints';
@import '~styles/colors';

html {
    font-size: 10px;
    @media(max-width: $EXTRA_LARGE) {
        font-size: 6px;
    }
}

h1 {
    font-weight: bold;
    color: $LIGHT_BLUE;        
    font-size: 3.6rem;    
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 1.8rem;
}

p{
    font-size: 2.0rem;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
    & .--bold {
        font-weight: bold;
    };


    & .--half-bold {
        font-weight: 500;
    }

    & .--italic {
        font-style: italic;
    }

    ;

    & .--uppercase {
        text-transform: uppercase;
    }

    ;

    & .--capitalize {
        text-transform: capitalize;
    }

    ;

    & .--black {
        color: $BLACK;
    }

    ;

    & .--blue {
        color: $LIGHT_BLUE;
    }

    ;

    & .--white {
        color: $WHITE;
    }

    ;

    & .--light {
        color: $DARK_GRAY;
    };

}