.overview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 5rem;
    flex-wrap: wrap;
    &__main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        gap: 3rem;
    }

    &__block {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__contacts {
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        gap: 5rem;
    }
}