@import '~styles/breakpoints';

.work-exp-section {
    width: 100%;

    &__collapse-btn {
        height: 30px;
        width: 30px;
    }

    &__header {
        display: flex;
        width: 100%;
        overflow: hidden;
        align-items: center;
        
        &__title {
            flex-grow: 1;
            white-space: nowrap;
        }
    }

    &__content {
        padding: 0 3rem;
        overflow: hidden;
        max-height: auto;

        &--closed {
            max-height: 0;
        }

        &__duties-and-achievements {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & > * { // TODO: Doubtful, but okay for now
                min-width: 15rem;
                word-wrap: break-word;
            }
        }
    }
}
